body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("pic1.jpg");
  background-position: center center;
  background-size: cover;
  height: 810px;
  width: 100%;
}

#header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
}

#header-text h1{
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 85px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

#anti-text h4{
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: .75
}

h1 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

h3 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0px;
  text-align: center;
}

h4 {
  color: #CCC;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 0px 0px;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

li {
  border-bottom: 1px solid #eeeeee;
  list-style: none;
  margin: 40px 0px;
  padding-bottom: 60px;
  text-align: center;
}

.partner {
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  border-bottom: 1px solid #eeeeee;
}

.partner img {
  position: relative;
  top: 6px;
}

.aa-logo {
  padding-left: 6px;
}

.main {
  background: url("Background.png");
  margin: 0px;
  padding: 40px;
}

.value-props {
  margin: 40px auto;
  width: 60%;
}

.prop {
  border: 1px solid #FFF;
  padding: 40px 0px;
  margin: 5px 0px;
  text-align: center;
}

.prop h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

#More h3{
  font-size: 18px;
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 5px;
  margin: 60px 0px;
}

#cock h4{
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1px;
  margin: 10px 0px;
  text-align: center;
}

#cock h3{
    border-bottom: 1px solid #eeeeee;
    list-style: none;
    text-align: center;
    margin: 40px 0px;
    padding: 0;
    width: 28%;
    color: blue;
    font-weight: 800;
  }

#cock h5{
  list-style: none;
  text-align: center;
  color: blue;
  font-weight: 800;
}

#align {
  padding: 20px;
  text-align: center;
  margin: 20px 30px;
  border-bottom: 1px solid #eeeeee;
}

#shit {
    border-bottom: 1px solid #eeeeee;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    color: blue;
    font-weight: 800;
    font-size: 30px;
  }

 #a h3{
   text-align: center;
   margin: 5px auto;
 }
 #b a{
   border-bottom: 1px solid #eeeeee;
 }
